@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-section-class {
    @apply 2xl:px-96 xl:px-56 lg:px-48 md:px-40 px-6 md:flex-col-centered pt-4 w-full bg-dark-300;
  }

  .paragraph-class {
    @apply text-[20px] text-light-200;
  }

  .sub-paragraph-class {
    @apply text-[14px] text-light-200;
  }

  .transition-all-eo-100 {
    @apply transition-all duration-100 ease-out;
  }

  .transition-all-eio-100 {
    @apply transition-all duration-100 ease-in-out;
  }

  .transition-all-eio-300 {
    @apply transition-all duration-300 ease-in-out;
  }

  .transition-all-eio-500 {
    @apply transition-all duration-500 ease-in-out;
  }

  .transition-all-eio-5000 {
    @apply transition-all duration-[5000ms] ease-in-out;
  }

  .transition-all-eio-10000 {
    @apply transition-all duration-[10000ms] ease-in-out;
  }

  .flex-col-centered {
    @apply flex flex-col items-center justify-center;
  }

  .flex-row-centered {
    @apply flex flex-row items-center justify-center;
  }

  .hover-cyan-text {
    @apply transition-all duration-300 ease-in-out hover:text-cyan-700;
  }

  .direct-cyan-text {
    @apply transition-all duration-300 ease-in-out text-cyan-700;
  }

  .icon-effect-class {
    @apply hover:transform hover:-translate-y-1 text-light-800 hover:text-cyan-500 hover:fill-cyan-500 transition-all-eio-300 cursor-pointer;
  }
}
