@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-section-class {
    @apply 4xl:px-96 3xl:px-80 2xl:px-64 xl:px-56 lg:px-28 md:px-28 px-8 md:flex-col-centered pt-4 w-full bg-dark-300;
  }

  .article-class {
    @apply xl:max-w-5xl lg:max-w-4xl w-full mx-auto pt-20;
  }

  .title-class {
    @apply text-[white] font-semibold text-3xl;
  }

  .subtitle-class {
    @apply text-[white] font-semibold text-xl;
  }

  .paragraph-class {
    @apply text-[18px] text-light-200;
  }

  .sub-paragraph-class {
    @apply text-[14px] text-light-200;
  }

  .secondary-sub-paragraph-class {
    @apply text-[14px] text-light-sec-200;
  }

  .transition-all-eo-100 {
    @apply transition-all duration-100 ease-out;
  }

  .transition-all-eio-100 {
    @apply transition-all duration-100 ease-in-out;
  }

  .transition-all-eio-300 {
    @apply transition-all duration-300 ease-in-out;
  }

  .transition-all-eio-500 {
    @apply transition-all duration-500 ease-in-out;
  }

  .transition-all-eio-5000 {
    @apply transition-all duration-[5000ms] ease-in-out;
  }

  .transition-all-eio-10000 {
    @apply transition-all duration-[10000ms] ease-in-out;
  }

  .flex-col-centered {
    @apply flex flex-col items-center justify-center;
  }

  .flex-row-centered {
    @apply flex flex-row items-center justify-center;
  }

  .hover-cyan-text {
    @apply transition-all duration-300 ease-in-out hover:text-cyan-700;
  }

  .direct-cyan-text {
    @apply transition-all duration-300 ease-in-out text-cyan-700;
  }

  .icon-effect-class {
    @apply hover:transform hover:-translate-y-1 text-light-800 hover:text-cyan-500 hover:fill-cyan-500 transition-all-eio-300 cursor-pointer;
  }
}
